/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.global-button {
	width: 30px;
	height: 30px;
	color: yellowgreen;
}
